* {
  box-sizing: border-box;
}

b, i {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
}

#consultant-page-container  {
  width: 100%;
  margin-left: 200px;
}

.cp-below-header-block-container {
  width: 100%;
}

#header  {
  border-bottom: 1px solid #FAE4CF;
  width: 100%;
}

.vmenu  {
  display: block;
  float: left;
  width: 10%;
  padding-right: 20px;
  padding-top:  10px;
  height:  100%;
}

.vmenu-right-block {
  float: left;
  width: 90%;
}

.vmenu ul, li a {
  list-style-type: none;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  color: #06658B;
  text-decoration: none;
}

.vmenu li  {
  line-height: 30px;
  border-bottom: 1px dashed #EB7E25;
}

.vmenu li a {
    text-decoration: none;
}

.consultant-banner-img  {
  float: left;
  padding:  25px 0 20px 18px;
  /* Width should be relative to vmenu-right-block */
}

.consultant-banner-img img {
  max-width: 100%;
}

.all-consultants-container {
  float: left;
  padding:  10px 0 10px 18px;
  width: 100%; /* Width should be same of vmenu-right-block */
}

.consultant-container {
  padding-bottom:  50px;
  width: 100%; /* Width same as all-consultants container. 
                 OR set this width to 100% and the divs inside 
		 consultant-image and consultant-text should derive from this? */
}

.consultant-container div {
  float: left;
  margin-bottom: 30px;
}

.consultant-image  {
  margin-bottom: 15px;
  width: 13%;
}


.consultant-image img {
    max-width: 100%;
}


.consultant-name  {
  font-family: Arial, serif;
  font-size: 15pt; /* TODO: should be in em */
  font-weight: bold;
  color: #666666;
}

.consultant-text  {
  display: inline;
  font-family: Times New Roman,Arial,serif;
  font-size: 0.8em;
  line-height: 1.5em;
  color: #666666;
  text-align: justify;
  width: 75%;
  padding-right: 24%;  
  padding-left: 10px;
}

.logo-text-mind  {
  color: #016589;
  font-size: 14pt; /* TODO: should be in em */
  font-family: Sylfaen, serif;
  padding-left: 6px;
}

.logo-text-eye  {
  color: #f97b17;
  font-size: 14pt; /* TODO: should be in em */
  font-family: Sylfaen, serif;
}


