* {
  box-sizing: border-box;
}

b, i {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
}

#consultant-page-container  {
  width: 100%;
  margin-left: 200px;
}

.cp-below-header-block-container {
  width: 100%;
}

#header  {
  border-bottom: 1px solid #FAE4CF;
  width: 100%;
}

.vmenu  {
  display: block;
  float: left;
  width: 15%;
  padding-right: 20px;
  padding-top:  10px;
  height:  100%;
}

.vmenu-right-block {
  float: left;
  width: 80%;
}

.vmenu ul, li a {
  list-style-type: none;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  color: #06658B;
  text-decoration: none;
}

.vmenu li  {
  line-height: 30px;
  border-bottom: 1px dashed #EB7E25;
}

.vmenu li a {
    text-decoration: none;
}

.all-consultants-container {
  float: left;
  padding:  10px 0 10px 18px;
  width: 100%;
}


.consultant-banner-img  {
  float: left;
  padding:  25px 0 20px 18px;
}


.consultant-container {
  padding-bottom:  50px;
  width: 100%;
}

.consultant-container div {
  float: left;
  margin-bottom: 30px;
}

.consultant-image  {
  margin-bottom: 15px;
  width: 20%;
}


.consultant-name  {
  font-family: Arial, serif;
  font-size: 15pt;
  font-weight: bold;
  color: #666666;
}

.consultant-text  {
  // display: inline;
  // padding-left: 10px;
  font-family: Times New Roman,Arial,serif;
  font-size: 0.8em;
  line-height: 1.5em;
  color: #666666;
  text-align: justify;
  width: 70%;
  padding-right: 22%;  /* REVISIT: How to scrunch to text area without 
                          over-flowing the full area? 
                        */
  margin-left: 2%;
}

.logo-text-mind  {
  color: #016589;
  font-size: 14pt;
  font-family: Sylfaen, serif;
  padding-left: 6px;
}

.logo-text-eye  {
  color: #f97b17;
  font-size: 14pt;
  font-family: Sylfaen, serif;
}


