#consultant-page-container  {
  width: 100%;
  padding-left: 100px;
}


#header  {
  border-bottom: 1px solid #FAE4CF;
  width: 100%;
}

.cp-below-header-block-container {
  width: 100%;
}

.vmenu  {
  display: block;
  float: left;
  width: 10%;
  padding-right: 20px;
  padding-top:  10px;
  height:  100%;
}

.vmenu ul {
  list-style-type: none;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  color: #06658B;
  text-decoration: none;
}

.vmenu li  {
  line-height: 30px;
  border-bottom: 1px dashed #EB7E25;
}

.all-consultants-container {
  width: 51%;
  float: left;
  padding:  10px 0 10px 18px;
}

.consultant-container {
  padding-bottom:  50px;
}

.consultant-banner-img  {
  float: left;
  padding:  25px 0 20px 18px;
}

.consultant-image  {
  float: left;
  border:  1px solid #f97b17;
  margin-right: 15px;
  margin-bottom: 15px;
}


.consultant-name  {
  font-family: Arial, serif;
  font-size: 1.7em;
  color: #666666;
}

.consultant-text  {
  display: inline;
  padding-left: 10px;
  font-family: Arial, serif;
  font-size: 11pt;
  text-align: justify;
}

.logo-text-mind  {
  color: #016589;
  font-size: 14pt;
  font-family: Sylfaen, serif;
  padding-left: 6px;
}

.logo-text-eye  {
  color: #f97b17;
  font-size: 14pt;
  font-family: Sylfaen, serif;
}


